:root {
  --light-color: #fff0f1;
  --pastel-color: #d7d4b9;
  --main-red: #c01722;
  --light-red: #da737b;
  --red2-color: #a0000c;
  --dark-red: #550006;
  --dark-color: #282828;
  --background-color: #f6f5f7;
}

form {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;

  input {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--light-grey2);
    border-radius: 5px;
    font-size: 12px;
  }

  button {
    margin: 10px;
  }

  .click-link {
    margin-top: 30px;
    color: var(--dark-red);
    cursor: pointer;
  }
}

.login-container,
.register-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px var(--main-red);
  width: 450px;
  height: 450px;
  top: 25%;
  position: absolute;
}

.confirmation-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px var(--main-red);
  width: 60%;
  height: 40%;
}

@media screen and (max-width: 768px) {

  .confirmation-container {
    width: 90%;
    height: 90%;
  }
  
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input:focus + .label-description,
input:not(:placeholder-shown) + .label-description{
  top: -10px;
  font-size: 15px;
  color: var(--dark-red);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-grey2);
  border-radius: 4px;
  outline: none;
}

textarea:focus + .textarea-label-description,
textarea:not(:placeholder-shown) + .textarea-label-description {
  top: -19px;
  font-size: 15px;
  color: var(--dark-red);
}

.label-description {
  position: absolute;
  top: 2px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s;
  font-size: 15px;
  color: var(--red2-color);
  background-color: white;
}

.textarea-label-description{
  position: absolute;
  top: -9px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s;
  font-size: 15px;
  color: var(--red2-color);
  background-color: white;
}

.form {
  width: 100%;
}
.message-user {
  text-align: center;
  margin-bottom: 25px;
}
.message-user-password{
  text-align: center;
  font-size: 11px;
  color: var(--light-red);
  margin-bottom: 10px;
}
.buttons-forgotPassword{

    display: flex;
    justify-content: space-between; 
    padding-top: 40px;
  
}
.title-forms{
  text-align: center;
  margin-top: 10px;
}

/**--------
----------**/

.inputs-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.inputs-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 12%;
}
@media screen and (max-width: 768px) {
  .inputs-left{
    margin-left: 0%;
  
   }
}

.inputs-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}

.confirm-photo {
  width: 100px;
  height: 100px;
  border: 2px solid var(--background-color);
  border-radius: 50%;
  margin-bottom: 15px;
}
.confirm-photo img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--background-color);
  border-radius: 50%;
  margin-bottom: 15px;
}
.biography{
  position:relative;
  width: 80%;
  align-self: center;
  margin-left: 3%;
  
}

@media screen and (max-width: 768px) {
  .biography{
    left: 0%;
  
   }
}
.navigate{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 30px;
  margin-top: 20px;
}
.link-login{
  color: var(--red2-color);
  cursor: pointer;
  margin-left: 15px;
}

/**--------Radio-buttons
-------------**/

.radio-buttonsConfirm{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.visibility-description{
  position: relative;
  top: 13px;
  margin-right: 25px;
}

.radio-item{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.lab-title{
  color: var(--red2-color);
}



