.project-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 48%;
    height: 400px;
    padding: 10px 30px 0;
    margin: 10px;
    border: solid 1px var(--light-grey2);
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: linear-gradient(to top, #ff0a1e27, var(--light-background-color) 10%);

    &:hover{
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border: transparent;
        transform: scale(1.02);
    }

    &:active{
        background: linear-gradient(to top, #ff0a1e27, var(--light-color) 10%);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        border: transparent;
        transform: scale(1.01);
    }

    h2{
        font-size: 1.3em;
        font-weight: 600;
        color: var(--dark-grey);
        padding-bottom: 0.5rem;
    }

    h4{
        font-size: 0.8em;
        font-weight: 500;
    }

    p{
        font-size: 0.75em;
        font-weight: 400;
    }

    .state-vacancies-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: solid 1px var(--light-grey);
        height: 30px;
    }

    .project-description-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-bottom: solid 1px var(--light-grey);
        overflow: hidden;
        position: relative;
    }
    
    .description-text {
        width: 100%;
        font-size: 0.8em;
        overflow-y: auto;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    

    .words-container{
        display: flex;
        align-items: center;
        justify-content: left;
        height: 45px;
        width: 100%;
        border-bottom: solid 1px var(--light-grey);
        padding-bottom: 10px;
        margin: 5px 0;
    }

    .team-members-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        padding: 10px 0;
    }

}

.title-label-container{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 20px;
}

.more-members-info{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    font-size: 0.8em;
    font-weight: 500;
}

.progress-bar-container {
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.progress-bar {
    height: 3px;
    border-radius: 5px;
}


.progress-bar-green {
    opacity: 0.5;
    background: linear-gradient(to right, var(--light-grey), var(--progress-bar-green));
}

.progress-bar-full-green {
    background-color: var(--progress-bar-green);
}

.progress-bar-red {
    background-color: var(--red2-color); 
}

.info-container .proj-state-neutral{
    color: var(--dark-color);
    font-size: 0.8em;
    font-weight: 400;
}

.info-container .proj-state-green{
    color: #407974;
    font-size: 0.8em;
    font-weight: 600;
}

.info-container .proj-state-red{
    color: var(--red2-color);
    font-size: 0.8em;
    font-weight: 600;
}


@media (max-width: 768px) {
    .info-container {
        width: 90%;
        padding: 10px 20px 0;
        margin: 20px 0;
        width: 100%;
    }

    .project-cards-container{
        justify-content: center;
    }
}

@media (max-width: 1240px) {
    .info-container {
        width: 90%;
        padding: 10px 20px 0;
        margin: 20px 0;
        width: 95%;
    }

    .project-cards-container{
        justify-content: center;
    }
}

.body-no-scroll {
    overflow: hidden;
}