@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


#root{
  background: #f6f5f7;
	font-family: "Roboto", sans-serif;
	height: 100%; /* Define a altura como 100% da altura da viewport */
	min-height: 100vh; /* Garante que a altura seja pelo menos 100% da altura da viewport */
	width: 100vw; /* Define a largura como 100% da largura da viewport */
	

	--light-color: #fff0f1;
	--pastel-color: #D7D4B9;
  --main-red: #C01722;
  --light-red: #DA737B;
	--red2-color: #A0000C;
	--dark-red: #550006;
	--dark-color: #282828;
	--logo-color: #2C94D9;
	--background-color: #f6f5f7;
}

