.home-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 180px 50px 50px;

    .left-side {
        background-color: var(--light-background-color);
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        border: solid 1px var(--light-grey2);
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    }

    .right-side {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        margin: 10px;
        padding: 10px;
        width: 20%;
        border: solid 1px var(--light-grey2);
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

        .sk-title-container{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;
            margin: 10px 10px 0 10px;
            padding: 10px 10px 0 10px;

            .search-keyword-container{
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 10px 0;

                .search-keyword-icon{
                    margin: 10px 2px;
                    font-size: 1em;
                    cursor: pointer;
                    color: var(--grey-color);

                    &:hover{
                        color: var(--red2-color);
                    }
                }

                .search-keyword-input{
                    background-color: var(--light-grey);
                    padding: 5px 10px;
                    border: transparent;
                    margin: 10px 0;
    
                    &:focus{
                        outline: none;
                    }
                }

            }
            
        }
    }
}

.keywords-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
}