.new-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 30px 30px;
}

.project-form-container {
    background-color: var(--light-background-color);
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 80%;
    border: solid 1px var(--light-grey2);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}