:root {
    --width-profile: 70%;
 
    --background-color: #f0f0f0;
    --light-color: #fff0f1;
	--pastel-color: #D7D4B9;
  --main-red: #C01722;
  --light-red: #DA737B;
	--red2-color: #A0000C;
	--dark-red: #550006;
  --light-grey: #eeeeee;
  --light-grey2: #e5e5e5;
  --grey-color: #8D8D8D;
	--dark-color: #282828;
	--background-color: #b8171705;
  --light-background-color: #fdfdfd;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top:15%;

   
  }
  
.profile-external-container{
    background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
    align-items: center;
  flex-direction: column;
  width: 70%;
  border: solid 1px var(--light-grey2);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  padding: 20px; 
  height: auto; 
}


.profile-header,
.profile-biography,
.profile-keywords,
.profile-interests,
.profile-projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px var(--main-red);
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    
    position: relative;
    margin-top: 20px;
    
}
.profile-header{
    margin-top: 50px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border: 2px solid var(--background-color);
    border-radius: 50%;
    margin-bottom: 15px;
    position: relative;
    top: -50%;
}

.profile-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

    
}

@media screen and (max-width: 768px) {
    :root {
        --width-profile: 90%;
    }
    
    .profile-image {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --width-profile: 100%;
    }

    .profile-container {
        padding: 10px;
    }
    
    .profile-header,
    .profile-biography,
    .profile-keywords,
    .profile-interests,
    .profile-projects {
        padding: 10px;
        position: relative;
    }
    
    .profile-image {
        width: 40px;
        height: 40px;
    }
  
}

.profile-header {
    height: 150px;
}

.label-profile {
    display: flex;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-220%);
    pointer-events: none;
    transition: all 0.2s;
    font-size: 15px;
    color: var(--main-red);
    background-color: white;
    padding: 0 5px;
    z-index: 1;
}

.input-profile {
    position: relative;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}


.profile-info {
    display: flex;
    margin-bottom: 10px;
    
  
   
}

/* Quando a tela for menor que 768px (tamanho típico de um tablet), altere a direção do flex para column */
@media screen and (max-width: 768px) {
    .profile-info {
        flex-direction: column;
        justify-content: flex-start;
    }
    .profile-external-container{
        width: 100%;
        left: 0;
        top: 0;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .user-name, .user-email, .user-lab {
        margin: 0 25px; 
    }
}

.user-name, .user-email, .user-lab {
    margin: 0 45px; 
}
.add-keywords {
    position: absolute;
    background-color: var(--light-background-color);
    top: -8px;
    right: 10px;
    cursor: pointer;
    color: var(--main-red);
    border-radius: 50%;
    padding: 0 3px;

    &:hover{
        font-weight: bold;
        color: var(--dark-red);
    }

    &:active{
        color: var(--dark-red);
        transform: scale(0.9);
    }
}


@media screen and (max-width: 768px) {
    .add-keywords {
        align-self: flex-end;
        margin-top: auto;
    }
}

@media screen and (max-width: 480px) {
    .add-keywords {
        align-self: flex-end;
        margin-top: auto;
    }
}

.Project-title{
    font-size: 15px;
    color: var(--red2-color);
  
}
.profile-projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  
}
.project-lab{
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;

}

 .user-nickname{
    display: flex;
    position: relative;
        left:-10%;
        transform: translate(12%, -80%);
 }
  
 .biography-champ{
height: 150px;
 }

  .modal-content {
    z-index: 1000;
  }
  .editProfile-title{
    font-size: 22px;
    font-weight: 700;
  }



  /* Visibility of profile*/
  .profile-visibility-container {
    display: flex;
    align-items: center;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-grey2);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main-red);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#visibility-status {
    font-size: 14px;
    color: var(--dark-color);
}


input:focus + .label-description-editProfile,
input:not(:placeholder-shown) + .label-description-editProfile{
  top: -20px;
  font-size: 15px;
  color: var(--dark-red);
}
textarea:focus + .textarea-label-description-editProfile,
textarea:not(:placeholder-shown) + .textarea-label-description.editProfile {
  top: -29px;
  font-size: 15px;
  color: var(--dark-red);
}

.label-description-editProfile {
  position: absolute;
  top: -10px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s;
  font-size: 15px;
  color: var(--red2-color);
  background-color: white;
}
.project-position{
    position: absolute;
    top: -50px;
    right: 70px;
    background-color: #f0f0f0;
    padding: 10px;
}