.message-container {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    border: solid 1px var(--light-grey2);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    top: 15%;
    left: 15%;
    padding: 20px; 
    height: auto; 
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .message-container {
        width: 100%;
        left: 0;
    }
    
}

.message-external-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    width: 100%;
}

.label-profile-message {
    display: flex;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-220%);
    pointer-events: none;
    transition: all 0.2s;
    font-size: 15px;
    color: var(--main-red);
    background-color: white;
    padding: 0 5px;
}




.messages {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px var(--main-red);
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    left: 5%;
    position: relative;
    margin-top: 20px;
    height: 60%;
}

.input-message {
    position: relative;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    top: 25%;
    left: 20%;
}

.message-internal-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px var(--main-red);
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    left: 2%;
    position: relative;
    margin-top: 1px;
    overflow-y: auto;
    max-height: 560px;
    
}
@media screen and (max-width: 768px) {
    .message-internal-container {
        width: 100%;
        left: 0;
    }
    .message-container{
        width: 100%;
        left: 0;
        height: auto;
    }
    
}

.search-bar-message {
    font-size: 0.8em;
    width: 70%;
    background-color: #da737c31;
    padding: 5px 10px 5px 20px;
    border: transparent;
    position: relative;
   margin-top: 10px;
}

.search-bar-message:focus {
    outline: none;
}

.print-messages {
    position: relative;
    margin-top: 40px;
    padding: 5px 10px 5px 20px;
    border: transparent;
    scrollbar-width: thin;
    width: 100%;
    height: 450px;
}

.bottom-menu-message {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.filter-icon-message, .plus-icon-message {
    cursor: pointer;
}

.detail-message {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px var(--main-red);
    width: 64%;
    padding: 20px;
    box-sizing: border-box;
    left: 5%;
    position: relative;
   
    height: 560px;
   
  
}

.sender-name {
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 2px solid var(--main-red);
    align-self: start;
}

.message-body {
    margin-bottom: 10px;
    width: 100%;
    max-height: 340px;
    overflow: auto;
    scrollbar-width:thin;
    }

.subject-input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    font-size: 13px;
    border-bottom: 2px solid var(--main-red);
    
}

.subject-input::placeholder,
.message-input::placeholder {
    color: #999;
}

.send-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: transparent;
    border: none;
    color: var(--main-red);
    cursor: pointer;
    font-size: 1.5em;
}

.message-input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

.message-input {
    width: calc(100% - 32px);
    height: 80px; 
    padding: 10px;
    scrollbar-width: thin;
    border: white;
    resize: none;
}
.format-message{
    background-color: #da737c31;
}
.info-user-message{
    display: flex;
    align-items: center;
    background-color: #da737c31;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 15px;
    cursor:pointer;
   
}
.info-user-message-external{
    width: 100%;
}
.photo-message{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.3em;
    margin-left: 20px;
    margin-top: 10px;

    img{
        width: auto;
        height: 100%; 
        object-fit: cover;
        
      }

}
.subject-input{
    margin-top: 20px;
}
.user-firstName{
    margin-left: 20px;
}
.input-label-message {
    display: flex;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-220%);
    pointer-events: none;
    transition: all 0.2s;
    font-size: 15px;
    color: var(--main-red);
    background-color: white;
    padding: 0 5px;
  
    
}

.print-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  
  .sender-name {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .messages-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .message {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;

  }
  
  .sender-message {
    background-color: #a8d8d231;
    margin-left: auto;
    text-align: right;

  }
  
  .receiver-message {
   background-color: rgb(241, 241, 180);
    margin-right: auto;
    text-align: left;
  }

  
  .timestamp {
    display: block;
    font-size: 0.8em;
    color: #999;
    margin-top: 5px;
  }
  
  .subject-input,
  .message-input {
    width: 100%;
    padding: 10px;
    
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .message-input-container {
    display: flex;
    align-items: center;
  }
  
  .message-input {
    flex: 1;
  }
  
  .send-icon {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .subject{
    font-size: 18px;
    font-weight: 700;
  }
  .show-more-message {
    background-color: var(--light-grey2);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 5px 10px 5px 20px;
}

.show-more-message:hover {
    background-color:  #da737c31; 
}