.new-task-external-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 13px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 200px; /* Espaço entre os modais */
    
  }
 
  
  .new-task-container {
    background-color: white;
    position: inherit;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
  }
  @media screen and (max-width: 768px) {
    .new-task-container {
      width: 90%;
      height: auto;
      top:130px;
    }
    
  }

  .new-task-container.shift-left {
    margin-right:500px; /* Ajuste conforme necessário */
  }
  
  #description,
  #title,
  #task_color {
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: var(--white_active);
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px black;
  }
  
  .description {
    width: 95%;
    margin-left: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    height: 150px;
  }
  .label-description-task {
    position: absolute;
    top: -10px;
    left: 20px;
    pointer-events: none;
    transition: all 0.2s;
    font-size: 15px;
    color: var(--red2-color);
    background-color: white;
  }
  
  .description-task {
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: var(--white_active);
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px black;
    width: 95%;
    margin-left: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    height: 100px;
    scrollbar-width: thin;
    color: var(--main-red);
    
  }
  
  .descriptioLabelTask {
    font-size: 10px;
    margin-bottom: -5px;
    font-weight: bold;
    margin-left: 10px;
    color: var(--main-red);
  }


  .task_creationTitle {
    color: var(--black);
    margin-bottom: 25px;
    margin-left: 10px;
  }
  
  #description::placeholder {
    color: var(--black);
  }
  
  .btns_task {
    width: 46%;
    margin-right: 5px;
    margin-left: 8px;
  }
  
  .taskMain {
    padding: 20px;
    margin-bottom: 55px;
    padding-left: 0px;
  }
  
  #aside_task {
    margin-top: 50px;
  }
  
  .buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  #title {
    
    width: 95%;
    margin-left: 10px;
  }
  
  #date_section {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
  }
  
  #date_section p {
    color: var(--black);
    margin-top: 5px;
  }
  
  #date_section input {
    height: 5px;
    width: 145px;
    margin-top: 5px;
  }
  #end_date {
    margin-left: 30px;
  }
  .color-section {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 7px;
    margin-top: 30px;
    
  }
  .priority_div {
    display: flex;
    flex-direction: row;
  
    margin: auto;
    margin-right: 2px;
    margin-top: 15px;
  }
  .priority_div label {
    color: black;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 4px;
    padding-bottom: 0px;
  }
  
  #priority_color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid var(--black) 2px;
    margin: auto;
  }
  
  #cancel {
    margin-left: 360px;
    padding: 0px 6px;
    padding-bottom: 2px;
  }
  
  #label_color {
    color: black;
    margin-bottom: 2px;
  }
  
  .color_section input {
    box-shadow: 0px 0px 0px 0px black;
  }
  .select-task{
    width: 100%;
    height: 25px;
    margin-top: 15px;
    overflow: auto;
    scrollbar-width: thin;

  }
  
  .modal-close-task{
    position: absolute;
    margin-left: 84%;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-red);
    cursor: pointer;
    align-items: right;
    justify-content: flex-end;

    &:hover{
        color: var(--dark-red);
    }

    &:active{
        transform: scale(0.9);
    }

}
.modal-close-dependencies{
  position: absolute;
  margin-left: 16%;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-red);
  cursor: pointer;
  align-items: right;
  justify-content: flex-end;


  &:hover{
      color: var(--dark-red);
  }

  &:active{
      transform: scale(0.9);
  }

}
.dependencies-title{
  margin-top: 15px;
  margin-bottom: 15px;
}
.dependencies{
  
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #e5e5e5;
  border-radius: 5px;
  width: auto;
  font-size: 15px;
  color: var(--red2-color);
  padding:5px;
  text-align: center;
}

.dependencies_modal {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  max-height: 500px;
margin-left: 300px;
overflow-y: auto;
scrollbar-width: thin;

}


.label-description-editProfile {
  font-size: 14px;
  color: #333;
}

/* Estiliza o container da lista de dependências */
.dependencies_list {
  display: flex;
  flex-direction: column;
}

/* Estiliza cada item da tarefa */
.task_item {
  display: flex;
  align-items: center; /* Alinha o checkbox e o label verticalmente */
  margin-bottom: 8px; /* Espaçamento entre os itens */
}

/* Estiliza o checkbox */
.task_item input[type="checkbox"] {
  accent-color: #C01722; /* Cor do checkbox quando selecionado */
}

/* Estiliza o label */
.task_item label {
  margin-left: 8px; /* Espaçamento entre o checkbox e o label */
}