:root{
  --grey-color: #8D8D8D;
  --background-color: #f0f0f0;
  --light-grey2: #e5e5e5;
  --light-red: #DA737B;
}


.notification-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  width: 100%;
}

.notification-external-container{
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: solid 1px var(--light-grey2);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  top: 15%;
  left: 20%;
  padding: 20px; 
  height: auto; 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .notification-external-container {
      width: 100%;
      left: 0;
  }
}

.notification-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.notification-avatar {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .notifications-container {
      width: 100%;
      margin-left: 20px;
      margin-right: 10px;
  }
  .notification-external-container {
      width: 100%;
      left: 0;
  }
}

.no-notifications {
  padding: 10px;
  color: #888;
  text-align: center;
}

.notification-info {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: white;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px; /* Adicione padding interno */
}

.notification-info:hover {
  background-color: var(--light-grey2);
  cursor: pointer;
}

.notification-item {
  margin-right: 25px;
  width: 80%;
}

.notification-timestamp {
  text-align: right;
  margin-right: 10px;
}

.notification-info.read {
  background-color: white;
}

.notification-info.unread {
  background-color: #da737c31; 
  font-weight: 600; 
}

.notification-badge {
  background-color: var(--main-red);
  color: var(--light-background-color);
  font-weight: 600;
  font-size: 0.7em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  transform: translate(-60%, -10%); 
  z-index: 1;

  &:hover {
      background-color: var(--dark-red);
  }
}

@media screen and (max-width: 768px) {
  
  .notification-badge {
     transform: translate(10%, 10%);
  }
  
}

