.project-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 48%;
    height: 400px;
    padding: 10px 30px 0;
    margin: 10px;
    border: solid 1px var(--light-grey2);
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: linear-gradient(to top, #ff0a1e27, var(--light-background-color) 10%);

    &:hover{
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border: solid 1px var(--grey-color);
        transform: scale(1.02);
    }

    h2{
        font-size: 1.3em;
        font-weight: 600;
        color: var(--dark-grey);
        padding-bottom: 2px;
        border-bottom: solid 1px var(--light-grey);
    }

    h4{
        font-size: 0.8em;
        font-weight: 500;
    }

    p{
        font-size: 0.7em;
        font-weight: 400;
    }

    .state-vacancies-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 10px 5px 0;
        margin-bottom: 10px;
        border-bottom: solid 1px var(--light-grey);
        height: 30px;
    }

    .project-description-container{
        display: flex;
        align-items: left;
        justify-content: center;
        height: 55px;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-bottom: solid 1px var(--light-grey);
        overflow: hidden;
        position: relative;
    }
    
    .description-text {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .project-description-container::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        height: 1.2em;
        background: linear-gradient(to right, transparent, white 50%);
    }

    .words-container{
        display: flex;
        align-items: center;
        justify-content: left;
        height: 40px;
        width: 100%;
        border-bottom: solid 1px var(--light-grey);
        padding-bottom: 10px;
        margin: 5px 0;
    }

    .team-members-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        padding: 10px;
    }

}

.title-label-container{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 20px;
}

@media (max-width: 768px) {
    .info-container {
        width: 90%;
        padding: 10px 20px 0;
        margin: 20px 0;
        width: 100%;
    }

    .project-cards-container{
        display: flex;
        justify-content: center;
    }
}