.resource-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    margin: 0 10px 10px 10px;
    background-color: var(--light-background-color);

    &:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

.resource-photo-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--light-grey2);
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.resource-photo {
    width: auto;
    height: 90%; 
    object-fit: cover;
    aspect-ratio: 1 / 1; 
}

.resource-info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: solid 1px var(--light-grey2);
    padding: 20px;
}

.label-name-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.label-name-container h4 {
    white-space: normal;
    text-overflow: clip;
    flex: 1;
    word-wrap: break-word;
}



@media (max-width: 768px) {
    .resource-container {
        flex-direction: row;
        width: 90%;
        height: 200px
    }

    .label-name-container h4,
    .label-name-container p{
        font-size: 0.8rem;
    }
}